<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Entry Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render "users/user_list", users: objects %>
    </tbody>
  </table>
</div>