<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Entry Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="user_table">
      <% objects.each do |user| %>
        <%= render "users/user_list", user: %>
      <% end %>
    </tbody>
  </table>
</div>